[data-theme="light"]{
    --primary-color :#007bff;
    --bg-color: #ffffff;
    --text-color: #333333;
    --text-muted-color-light: #6c757d; 
}
[data-theme="dark"] {
    --primary-color: #66ccff;
    --background-color: #333333;
    --text-color: #ffffff;
    --text-muted-color-dark: #b0b0b0;
    
  }
.App {
  text-align: center;
   
}
.Theme{
background-color: var(--background-color);
  color : var(--text-color);
  border: 1px solid var(--primary-color);
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
  
}

