.App {
  text-align: center;
}




.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
[data-theme="light"] .App-header{
    --primary-color :#007bff;
    --bg-color: #ffffff;
    --text-color: #333333;
}
[data-theme="dark"] .App-header{
    --primary-color: #66ccff;
    --background-color: #333333;
    --text-color: #ffffff;
  }


